@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Poppins:wght@400;500&family=Roboto+Mono:ital,wght@1,500&family=Roboto:wght@400;500&display=swap');


*{
  font-family: 'Poppins', sans-serif;
    margin: 0;
   

  }
  html{
    overflow-x: hidden;
  }
  button{
    background: orange;
    color: white;
    border: .1rem solid transparent;
  }
  nav{
    background: transparent;
    
    width: 100%;
  }

  nav ul li {
  
    padding-left: rem;
    font-size: 1.1rem;
  }
   
   .about{
    margin-left: 5rem;
    margin-top: 5rem;
   }
   .about h3{
    font-size: 2rem;
    letter-spacing: 2px;
   }
   .about p{
    letter-spacing: 2px;
   }
   .about video{
    margin-left: 0rem;
    margin-top: 2rem;

   }

   .counter1{
    padding-left: 3rem;
    background: black;
    color: white;
    margin-top: 5rem;
    padding-top: 5rem;

   }
   .counter1 p{
    text-align: center;
    font-size: 1.5rem;
   }
   .counter1 h4{
    text-align: center;
   }


   .project{
    margin-top: 5rem;
    
   }


   .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-left: 5rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: orange;
  color: white;
  transform: rotateY(180deg);
}

.slide-right {
  animation: 2s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.slide-left {
  animation: 2s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}


.service{
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('ssbg.png');
  margin-top: 5rem;
  padding-left: 5rem;
}

.slider{
  height: 250px;
  margin: auto;
  margin-top: 5rem;
  position: relative;
  width: 90%;
  display: grid;
    overflow-x: hidden;
    overflow-y: hidden;

  place-items: center;
}
.slide-track{
  display: flex;
  width: calc(250px * 8);
  animation: scroll 40s linear infinite;

}


.slide-track:hover{
  animation-play-state:paused ;
}

@keyframes scroll{
  0%{
    transform: translateX(10px);
  }

  100%{
    transform: translateX(calc(-250px*8));
  }
}



.slide1{
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px ;
  perspective: 100px;

}
.slide1 img{
  width: 10rem;
}
 .slide1 img:hover{
  transform: translateZ(20px);
}

.slider::before,
.slider::after{
  background: linear-gradient(to right, rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before{
  left: 0;
  top: 0;
}
.slider::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}


.fa{
  font-size: 5rem;
  margin-left: 4rem;
 text-align: center;
  color: gray;
}

strong{
  margin-left: 2.5rem;
  color: black;
}

.slide1 .card{
  background: white;
  color: orange;
}
.slide1 .card i{
  margin-top: 1rem;
  color: orange;
}

.footer .fa{
  font-size: 3rem;
  margin-left: 12rem;
 text-align: center;
 margin-top: 2rem;
  color: gray;

}
.footer p{
  text-align: center;
}

.wrapper{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .box{
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.wrapper .box i.quote{
  font-size: 20px;
  color: orange;
}
.wrapper .box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name{
  font-weight: 600;
  font-size: 17px;
}
.box .info .job{
  font-size: 16px;
  font-weight: 500;
  color: orange;
}
.box .info .stars{
  margin-top: 2px;
}
.box .info .stars i{
  color: #17a2b8;
}
.box .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: orange;
  border-radius: 50%;
}
.content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img{
  border-color: #fff;
}
@media (max-width: 1045px) {
  .wrapper .box{
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .wrapper .box{
    width: 100%;
  }
}